# Core Dependencies
joblib==1.4.2
scikit-learn==1.5.2
scipy==1.14.1
threadpoolctl==3.5.0
numpy==1.26.4

# API and Web Server
fastapi==0.111.0
uvicorn==0.30.1

# Frontend / Dashboard
streamlit==1.35.0

# Development and Utilities
ipykernel
Werkzeug==3.0.3